#outer{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(37, 40, 37);
    border-radius: 10px 100px /120px;
    background-color: rgb(76, 32, 209);
    border-width: 4px;
    transition: 2s 2s;
    margin-top: 55px;
    transition: margin-top 2s ease-in 0.2s;
}
#outer:hover{
    background-color: yellow ;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
    border-radius: 30px;
    margin-top:400px;
} 
#outer{
    rotate:45deg ;
}
    